{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- User greeting -->
{% block app_content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>

    <!-- Form for post creating -->
    {% if form %}
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    {% endif %}

    <!-- Posts from users current user follows -->
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <!-- Posts pagination -->
    {% include '_pagination.html' %}

{% endblock %}

