{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr valign="top">

            <!-- Avatar -->
            <td>
                <img src="{{ user.get_avatar(128) }}">
            </td>

            <!-- User info -->
            <td>
                <h1>{{ _('User: %(username)s', username=user.username) }}</h1>

                <!-- About me -->
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}

                <!-- Last seen -->
                {% if user.last_seen %}
                    <p>{{ _('Last seen: %(last_seen)s', last_seen=moment(user.last_seen).fromNow()) }}</p>
                {% endif %}

                <!-- Followers and following count -->
                <p>{{ _('%(followers)d followers, %(following)d following', followers=user.followers.count(),
                        following=user.followed.count()) }}</p>

                <!-- Link for profile edit -->
                {% if user == current_user %}
                    <p>
                        <a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a>
                    </p>

                <!-- Export posts link -->
                {% if not current_user.get_task_in_progress('export_posts') %}
                    <p>
                        <a href="{{ url_for('main.export_posts') }}">
                            {{ _('Export your posts') }}
                        </a>
                    </p>
                {% endif %}

                <!-- Follow / unfollow button -->
                {% elif not current_user.is_following(user) %}
                    <p>
                    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value= _('Follow')) }}
                    </form>
                    </p>
                {% else %}
                    <p>
                    <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Unfollow')) }}
                    </form>
                    </p>
                {% endif %}

                <!-- Send private message link -->
                {% if user != current_user %}
                    <p>
                        <a href="{{ url_for('messages.send_message', recipient=user.username) }}">
                        {{ _('Send private message') }}
                        </a>
                    </p>
                {% endif %}

            </td>
        </tr>
    </table>

    <!-- User's own posts -->
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <!-- Posts pagination -->
    {% include '_pagination.html' %}

{% endblock %}
