{% extends 'bootstrap/base.html' %}

<!-- Page title block -->
{% block title %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>{{ _('Blog') }}</title>
    {% endif %}
{% endblock %}

<!-- Navigation Bar -->
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Flask Blog</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Left part of navbar -->
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                    <li><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
                </ul>

                <!-- Search form -->
                {% if g.search_form %}
                    <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                        <div class="form-group">
                            {{ g.search_form.text(size=20, class='form-control',
                            placeholder=g.search_form.text.label.text) }}
                        </div>
                    </form>
                {% endif %}

                <!-- Right part of navbar -->
                <ul class="nav navbar-nav navbar-right">

                    {% if current_user.is_anonymous %}

                        <!-- Login -->
                        <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>

                    {% else %}

                        <!-- Profile -->
                        <li><a href="{{ url_for('main.user_profile', username=current_user.username) }}">
                            {{ _('Profile') }}</a></li>

                        <!-- Messages -->
                        <li>
                            <a href="{{ url_for('main.messages') }}">{{ _('Messages') }}
                            {% set new_messages = current_user.new_messages() %}
                            <span id="message_count" class="badge" style="visibility: {% if new_messages %}visible
                                {% else %}hidden {% endif %};">
                                {{ new_messages }}
                            </span>
                            </a>
                        </li>

                        <!-- Logout -->
                        <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>

                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>
{% endblock %}

<!-- Content Block -->
{% block content %}
    <div class="container">

        <!-- Block for progressbar -->
        {% if current_user.is_authenticated %}
            {% with tasks = current_user.get_tasks_in_progress() %}
            {% if tasks %}
                {% for task in tasks %}
                    <div class="alert alert-success" role="alert">
                        {{ task.description }}
                        <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        {% endif %}

        <!-- Block for flashed messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Content Block -->
        {% block app_content %}{% endblock %}

    </div>
{% endblock %}

<!-- Scripts Block -->
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script type="text/javascript" src='{{ url_for('static', filename='js/post_translation.js') }}'></script>
    <script type="text/javascript" src='{{ url_for('static', filename='js/user_popup.js') }}'></script>
    {% if current_user.is_authenticated %}
        <script type="text/javascript" src='{{ url_for('static', filename='js/notifications.js') }}'></script>
        <script type="text/javascript" src='{{ url_for('static', filename='js/progressbar.js') }}'></script>
    {% endif %}
{% endblock %}
