{% extends 'bootstrap/base.html' %}
{#{% extends 'venv/lib/python3.9/site-packages/flask_bootstrap/templates/bootstrap/base.html' %}#}

<!-- Page title block -->
{% block title %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Blog</title>
    {% endif %}
{% endblock %}

<!-- Navigation Bar -->
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Flask Blog</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Left part of navbar -->
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('explore') }}">Explore</a></li>
                </ul>

                <!-- Right part of navbar -->
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li><a href="{{ url_for('user_profile', username=current_user.username) }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Block for flashed messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Content Block -->
        {% block app_content %}{% endblock %}

    </div>
{% endblock %}
